$size-array: (
  '5' '10' '20' '30' '40' '50' '60' '70' '80' '90' '100'
);

.w {
  @each $size in $size-array {
    &-#{$size} {
      width: #{$size + "%"};
    }

    @each $key, $breakpoint in $grid-breakpoints {
      @include media-breakpoint-up($key) {
        &-#{$key}-#{$size} {
          width: #{$size + "%"} !important;
        }
      }
    }
  }

  @each $key, $breakpoint in $grid-breakpoints {
    @include media-breakpoint-up($key) {
      &-#{$key}-auto {
        width: auto !important;
      }
    }
  }
}
